/* --------------- */
/* The User Card  */
/* ------------- */
.contanior-UC {
    background-color:white;
    border: 3px solid black;
    box-shadow: 3px 2px gray;
    width:500px;
    height:400px;
    display: flex;
    position:relative;
    margin-top: 150px;
    margin-inline-start: 15%;
    margin-inline-end: 30%;

}
.topbar-UC {
    width: 500px;
    height: 90px;
    background-color: aqua;
}

.topbar-UC > img {
    height: 100px;
    margin: 40px;
    border: 2px solid white;
}
h2 {
    margin: -40px auto auto 40px;
}
.contented-UC1 >  img 
,.contented-UC1 >  h4 {
    height: 20px;
    left: 20px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    border-radius: 2px;
}
.contented-UC1 > p 
{ 
    left: 20px;
    position: absolute;
    margin-top: 5px;
    display: block;
}

.contented-UC2 >  img, 
.contented-UC2 >  h4 {
    height: 20px;
    left: 20px;
    position: relative;
    margin-top: 70px;
    display: inline-block;

   
}
.contented-UC2 > a {
    display: inline-block;
    margin-left: 30px;
    margin-top: 70px;
    position: absolute;
    

}

img.userimg {
    border-radius: 50px;
}
/* ---------------------------- */
/* -------Eduction Box-------- */
/* -------------------------- */

.contaniorE {
    background-color:white;
    border: 3px solid black;
    box-shadow: 3px 2px gray;
    width:500px;
    height:200px;
    display:flex; 
    position:relative;
    margin-top: 100px;
    margin-inline-start: 15%;
    margin-inline-end: 30%;


}
.topbar-2 {
    width: 500px;
    height: 60px;
    background-color: black;
    color: aliceblue;
}
* > .contentedE-2 {
    color: black;
    margin-top: 20px;
    position: absolute;
    margin-left: 10px;
    
}
/* ------------- */
/* The Nav bar  */
/* ----------- */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navbar {
    background-color: gray;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
}

li {
    float: left;
    list-style: none;
    margin: 20px;
    
}
.nav-title {
    margin: 20px;
    
}
.btn {
    border: 2px solid black;
    background-color: aqua;
    color: rgb(29, 60, 87);
    box-shadow: 2px 3px;
}

li > a {
    text-decoration: none;
    color: white;
   
}
/* ---------------------------- */
/* The Request/Connection box  */
/* -------------------------- */

.contaniorR{
    background-color:white;
    border: 3px solid black;
    border: 5px solid gray;
    width:300px;
    height:200px;
    display:flex; 
    position:absolute;
    margin-top: 150px;
    margin-inline-start: 15%;
    margin-inline-end: 30%;
 
}
.contaniorC{
    background-color:white;
    border: 3px solid black;
    border: 5px solid gray;
    width:300px;
    height:400px;
    display:flex; 
    position:absolute;
    margin-top: 450px;
    margin-inline-start: 15%;
    margin-inline-end: 30%;
    

}

nav  {
    display: flex;
    align-content:space-between ;
    position: absolute;
    left: 65%;
    top:100px;

    
}
.topbar-2 {
    width: 500px;
    height: 60px;
    background-color: black;
    color: aliceblue;
}

* > .contentedR-2,
* > .contentedC-2 {
    color: black;
    margin-top: 15px;
    position: absolute;
    margin-left: 10px;
    
    
}
.contentedR-2 >img,
.contentedR-2 >h3{
    height: 25px;
    
    display: inline-block;
}

.upcontentedC-2 >img,
.upcontentedC-2 >h3{
    height: 25px;
    display: inline-block;
}
.contentedC-1 > button,
.contentedC-1 > h3,
.contentedR-1 > button,
.contentedR-1 > h3 {
display: inline-flex;
}

#button1,
#buttin2 {
    background-color:#808091;
    border-color: white;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 5px 10px;
}